In [8]:
import pandas as pd 
import os

In [9]:
os.getcwd()
current_directory = os.getcwd()

In [10]:
d0 = pd.read_csv('data/daily_sales_data_0.csv')
d0.head()

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [11]:
d1 = pd.read_csv('data/daily_sales_data_1.csv')
d1.head()

       product  price  quantity        date region
0  pink morsel  $3.00       545  2019-06-11  north
1  pink morsel  $3.00       521  2019-06-11  south
2  pink morsel  $3.00       595  2019-06-11   east
3  pink morsel  $3.00       507  2019-06-11   west
4  gold morsel  $9.99       529  2019-06-11  north

In [12]:
d2 = pd.read_csv('data/daily_sales_data_2.csv')
d2.head()

       product  price  quantity        date region
0  pink morsel  $3.00       526  2020-10-13  north
1  pink morsel  $3.00       546  2020-10-13  south
2  pink morsel  $3.00       505  2020-10-13   east
3  pink morsel  $3.00       561  2020-10-13   west
4  gold morsel  $9.99       553  2020-10-13  north

In [14]:
# check na and missing values
print(d0.isna().sum())
print(d1.isna().sum())
print(d2.isna().sum())

product     0
price       0
quantity    0
date        0
region      0
dtype: int64
product     0
price       0
quantity    0
date        0
region      0
dtype: int64
product     0
price       0
quantity    0
date        0
region      0
dtype: int64

In [31]:
df = pd.concat([d0,d1,d2], axis=0)
df = df.drop_duplicates()
df.reset_index(drop=True, inplace=True)
df['price'] = df['price'].str.replace('$', '', regex=False)
df['price'] = pd.to_numeric(df['price'])
df['sales'] = df["price"] * df["quantity"]
df = df[['sales','date', 'region']]
df.head()

    sales        date region
0  1638.0  2018-02-06  north
1  1647.0  2018-02-06  south
2  1731.0  2018-02-06   east
3  1557.0  2018-02-06   west
4  5794.2  2018-02-06  north