In [1]:
import pandas as pd 
import os

In [2]:
os.getcwd()
current_directory = os.getcwd()

In [3]:
d0 = pd.read_csv('data/daily_sales_data_0.csv')
d0.head()

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [4]:
d1 = pd.read_csv('data/daily_sales_data_1.csv')
d1.head()

       product  price  quantity        date region
0  pink morsel  $3.00       545  2019-06-11  north
1  pink morsel  $3.00       521  2019-06-11  south
2  pink morsel  $3.00       595  2019-06-11   east
3  pink morsel  $3.00       507  2019-06-11   west
4  gold morsel  $9.99       529  2019-06-11  north

In [5]:
d2 = pd.read_csv('data/daily_sales_data_2.csv')
d2.head()

       product  price  quantity        date region
0  pink morsel  $3.00       526  2020-10-13  north
1  pink morsel  $3.00       546  2020-10-13  south
2  pink morsel  $3.00       505  2020-10-13   east
3  pink morsel  $3.00       561  2020-10-13   west
4  gold morsel  $9.99       553  2020-10-13  north

In [6]:
# check na and missing values
print(d0.isna().sum())
print(d1.isna().sum())
print(d2.isna().sum())

product     0
price       0
quantity    0
date        0
region      0
dtype: int64
product     0
price       0
quantity    0
date        0
region      0
dtype: int64
product     0
price       0
quantity    0
date        0
region      0
dtype: int64

In [7]:
df = pd.concat([d0,d1,d2], axis=0)
df = df.drop_duplicates()
df.reset_index(drop=True, inplace=True)
df['price'] = df['price'].str.replace('$', '', regex=False)
df['price'] = pd.to_numeric(df['price'])
df['sales'] = df["price"] * df["quantity"]
df = df[['sales','date', 'region']]
df.head()

    sales        date region
0  1638.0  2018-02-06  north
1  1647.0  2018-02-06  south
2  1731.0  2018-02-06   east
3  1557.0  2018-02-06   west
4  5794.2  2018-02-06  north

In [10]:
df.to_csv("data/final.csv" )

In [13]:
from app import app 
app.layout

Div(children=[Div(children=[H1(children='📊 Sales Data Visualization Dashboard', style={'textAlign': 'center', 'color': '#2c3e50', 'marginBottom': '30px', 'fontFamily': 'Arial, sans-serif', 'fontSize': '2.5em', 'fontWeight': 'bold', 'textShadow': '2px 2px 4px rgba(0,0,0,0.1)'})], style={'background': 'linear-gradient(135deg, #667eea 0%, #764ba2 100%)', 'padding': '20px', 'marginBottom': '30px', 'borderRadius': '10px', 'boxShadow': '0 4px 6px rgba(0, 0, 0, 0.1)'}), Div(children=[Div(children=[Label(children='Select Region:', style={'fontWeight': 'bold', 'fontSize': '1.2em', 'color': '#34495e', 'marginBottom': '10px', 'display': 'block'}), RadioItems(options=[{'label': 'North', 'value': 'north'}, {'label': 'South', 'value': 'south'}, {'label': 'East', 'value': 'east'}, {'label': 'West', 'value': 'west'}], value='north', inline=True, style={'display': 'flex', 'justifyContent': 'space-around', 'marginTop': '10px'}, inputStyle={'marginRight': '5px', 'transform': 'scale(1.2)'}, labelStyle={'marginRight': '20px', 'fontSize': '1.1em', 'color': '#2c3e50', 'fontWeight': '500'}, id='radio-selection')], style={'width': '48%', 'display': 'inline-block', 'padding': '20px', 'backgroundColor': '#ecf0f1', 'borderRadius': '10px', 'boxShadow': '0 2px 4px rgba(0,0,0,0.1)', 'marginRight': '2%'}), Div(children=[Label(children='Select Year:', style={'fontWeight': 'bold', 'fontSize': '1.2em', 'color': '#34495e', 'marginBottom': '10px', 'display': 'block'}), Dropdown(options=[{'label': '2018', 'value': np.int32(2018)}, {'label': '2019', 'value': np.int32(2019)}, {'label': '2020', 'value': np.int32(2020)}, {'label': '2021', 'value': np.int32(2021)}, {'label': '2022', 'value': np.int32(2022)}], value=np.int32(2018), style={'fontSize': '1.1em'}, id='year-dropdown')], style={'width': '48%', 'display': 'inline-block', 'padding': '20px', 'backgroundColor': '#ecf0f1', 'borderRadius': '10px', 'boxShadow': '0 2px 4px rgba(0,0,0,0.1)'})], style={'marginBottom': '30px'}), Div(children=[Graph(id='graph-content', style={'borderRadius': '10px', 'boxShadow': '0 4px 6px rgba(0,0,0,0.1)'})], style={'backgroundColor': 'white', 'padding': '20px', 'borderRadius': '10px', 'boxShadow': '0 4px 6px rgba(0,0,0,0.1)'})], style={'fontFamily': 'Arial, sans-serif', 'backgroundColor': '#f8f9fa', 'padding': '20px', 'minHeight': '100vh'})